@import '~bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';
@import 'highlight.js/styles/agate.css';

section {
    padding: 40px 0;
}

.larger-icon {
    font-size: 10rem;
}

.header-wrapper {
    height: 70vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(121, 79, 177, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: #FFF;
    display: table;

    div {
        display: table-cell;
        vertical-align: middle;
    }
}

.minor-header-wrapper {
    height: 200px;
    width: 100%;
    background-color: #82b440;
    color: #FFF;
    display: table;
}

.purple-bg {
    background-color: rgba(121, 79, 177, 1);

    .nav-link {
        color: #FFF;
    }
}

.questions-wrapper {
    background-color: #82b440;
    color: #FFF;
}

.title-link {
    color: var(--bs-body-color);
    text-decoration: none;

    h2 {
        margin-top: 3rem !important;
        margin-bottom: 2rem !important;
    }

    &:hover {
        :after {
            content: ' #';
            margin-left: 10px;
            color: blue;
        }
    }
}

#docs-menu {
    .list-group-item {
        border: 0 !important;
    }

    height: calc(100vh - 100px);
    overflow-y: auto;
}

.example {
    padding: 0;

    .card {
        padding: 0;

        pre {
            margin-bottom: 0;
            margin: 0;
        }
    }
}

.command {
    background-color: #e9ecef;
    padding: 15px;
}

.contacts-wrapper {
    background-color: #555;
    color: #FFF;
}

.contacts-wrapper .links a {
    color: #FFF;
}
